name: Auto Test Schedule

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

permissions:
  contents: write

jobs:
  test-strategy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install Dependencies
        run: pip install yfinance pandas requests
      
      - name: Run Strategy
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python main.py
      
      - name: Save State
        run: |
          git config user.name 'GitHub Action'
          git config user.email 'action@github.com'
          git add state.json
          git diff --quiet && git diff --staged --quiet || git commit -m "Update state [skip ci]" && git push
